services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root-token
      VAULT_ADDR: http://0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    networks:
      - vault

  backend:
    build: .
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./secrets/.env:/usr/src/app/.env
    depends_on:
      - vault
    networks:
      - vault

networks:
  vault:
    external: true
