@import 'tailwindcss';

*{
  font-family: 'Kanit', sans-serif;
}

/* ปิด default eye icon ของ Chrome/Edge */
input::-webkit-textfield-decoration-container {
  display: none !important;
}
input::-ms-reveal {
  display: none !important;
}
input::-ms-clear {
  display: none !important;
}
